p {
  font-size: larger; /* put in as largeer instead of larger */
}

h1 {
  /*was missing the hyphen*/
  font-size: 23xp;
  color: purple;
}

.container {
  color: red;
  width: 500px;
  height: 500px;
  /* background should be the same as #output */
  background-color: #000;
}

#output {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  /*Was put in as pudding instead of padding*/
  border: 1px solid #000;
  background-color: #f0f0f0;
}
.color {
  color: red;
}
